{% extends 'base.html.twig' %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block headline %}
    {{ pageHeadline }}
{% endblock %}

{% block body %}

    <div>HIER INHALT!</div>
{% endblock %}


{% block javascript %}

{% endblock %}

