{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
EVENTS
{% endblock %}

{% block body %}
<div>{{ event.name }}</div>
<div>{{ event.description }}</div>
<div>{{ event.seats }}</div>
{% endblock %}

    {% block stylesheets %}
    {% endblock %}

    {% block javascript %}
    {% endblock %}
