{% extends 'base.html.twig' %}

{% block title %}
    {{ pageTitle }} | Ändere die Location
{% endblock %}

{% block headline %}
    {{ pageHeadline }}
{% endblock %}

{% block body %}

    {{ form(form) }}


    <a href="{{ path('app_location_index') }}" class="btn btn-secondary">Zurück</a>

{% endblock %}
