{% extends 'base.html.twig' %}

{% block headline %}

{% endblock %}


{% block body %}

    {{ form(form) }}


    <a href="{{ path('app_location_index') }}" class="btn btn-secondary">Zurück</a>

{% endblock %}


{% block form %}

{% endblock %}
